BanqueService/WebContent/wsdl/EuroToRmb.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://EuroToRmb.dauphine.fr" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://EuroToRmb.dauphine.fr" xmlns:intf="http://EuroToRmb.dauphine.fr" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://EuroToRmb.dauphine.fr" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getEuroToDollar">
    <complexType>
     <sequence>
      <element name="montant" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="getEuroToDollarResponse">
    <complexType>
     <sequence>
      <element name="getEuroToDollarReturn" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getEuroToDollarRequest">

      <wsdl:part element="impl:getEuroToDollar" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getEuroToDollarResponse">

      <wsdl:part element="impl:getEuroToDollarResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="EuroToRmb">

      <wsdl:operation name="getEuroToDollar">

         <wsdl:input message="impl:getEuroToDollarRequest" name="getEuroToDollarRequest">

       </wsdl:input>

         <wsdl:output message="impl:getEuroToDollarResponse" name="getEuroToDollarResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="EuroToRmbSoapBinding" type="impl:EuroToRmb">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getEuroToDollar">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getEuroToDollarRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getEuroToDollarResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="EuroToRmbService">

      <wsdl:port binding="impl:EuroToRmbSoapBinding" name="EuroToRmb">

         <wsdlsoap:address location="http://localhost:8080/BanqueService/services/EuroToRmb"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
