BanqueService/WebContent/wsdl/RemoveFromPanier.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://removeVoiture.dauphine.fr" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://removeVoiture.dauphine.fr" xmlns:intf="http://removeVoiture.dauphine.fr" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://removeVoiture.dauphine.fr" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="RemoveVoiture">
    <complexType>
     <sequence>
      <element name="name" type="xsd:string"/>
      <element name="id" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="RemoveVoitureResponse">
    <complexType/>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="RemoveVoitureResponse">

      <wsdl:part element="impl:RemoveVoitureResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="RemoveVoitureRequest">

      <wsdl:part element="impl:RemoveVoiture" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="RemoveFromPanier">

      <wsdl:operation name="RemoveVoiture">

         <wsdl:input message="impl:RemoveVoitureRequest" name="RemoveVoitureRequest">

       </wsdl:input>

         <wsdl:output message="impl:RemoveVoitureResponse" name="RemoveVoitureResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="RemoveFromPanierSoapBinding" type="impl:RemoveFromPanier">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="RemoveVoiture">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="RemoveVoitureRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="RemoveVoitureResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="RemoveFromPanierService">

      <wsdl:port binding="impl:RemoveFromPanierSoapBinding" name="RemoveFromPanier">

         <wsdlsoap:address location="http://localhost:8080/BanqueService/services/RemoveFromPanier"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
