wsdl/DauphineCarsService/WebContent/wsdl/addVoiture.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://add.dauphine.fr" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://add.dauphine.fr" xmlns:intf="http://add.dauphine.fr" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://add.dauphine.fr" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getPanier">
    <complexType/>
   </element>
   <element name="getPanierResponse">
    <complexType>
     <sequence>
      <element name="getPanierReturn" type="impl:ArrayOf_xsd_anyType"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOf_xsd_anyType">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:anyType"/>
    </sequence>
   </complexType>
   <element name="addToPanier">
    <complexType>
     <sequence>
      <element name="name" type="xsd:string"/>
      <element name="id" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="addToPanierResponse">
    <complexType/>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="addToPanierResponse">

      <wsdl:part element="impl:addToPanierResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addToPanierRequest">

      <wsdl:part element="impl:addToPanier" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getPanierRequest">

      <wsdl:part element="impl:getPanier" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getPanierResponse">

      <wsdl:part element="impl:getPanierResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="addVoiture">

      <wsdl:operation name="getPanier">

         <wsdl:input message="impl:getPanierRequest" name="getPanierRequest">

       </wsdl:input>

         <wsdl:output message="impl:getPanierResponse" name="getPanierResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addToPanier">

         <wsdl:input message="impl:addToPanierRequest" name="addToPanierRequest">

       </wsdl:input>

         <wsdl:output message="impl:addToPanierResponse" name="addToPanierResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="addVoitureSoapBinding" type="impl:addVoiture">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getPanier">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getPanierRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getPanierResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addToPanier">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addToPanierRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addToPanierResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="addVoitureService">

      <wsdl:port binding="impl:addVoitureSoapBinding" name="addVoiture">

         <wsdlsoap:address location="http://localhost:8080/DauphineCarsService/services/addVoiture"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
